*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #F9F9F9;
}
/*Cas de base : Largeur maximale*/
nav{
    width: 17%;
    height: 100vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3C7ECC;
    z-index: 10;
}
#logo-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logo-container {
    display: flex;
    justify-content: center;
}
.logo-container img{
    width: 150px;
}
#nav-elements{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
}
#nav-elements a{
    text-decoration: none;
}
.element{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
}
.element span{
    font-size: 16px;
}
.element.active_page{
    background-color: white;
    color: #3C7ECC;
}
#logout-container{
    padding: 0 20px;
    margin-bottom: 20px;
}
#logout-container a{
    text-decoration: none;
}

main{
    margin-left: 17%;
    width: 83%;
    /* padding: 25px 30px; */
    position: relative;
    background-color: #F9F9F9;
    transition: all .5s ease;
}
#menu-button{
    display: none;
}
.user_informations{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 30px;
    padding-top: 25px;
    margin-bottom: 30px;
}
.user_informations a img{
    width: 50px;
    border-radius: 50%;
}
.informations{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hello{
    font-size: 13px;
    color: #747373;
}
.name{
    font-size: 16px;
    font-weight: bold;
}
#search-form{
    position: relative;
    width: 100%;
    padding: 0 30px;
    margin: 30px 0;
}
#search-form img{
    position: absolute;
    top: 10px;
    left: 50px;
}
#search-input{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding-left: 50px;
    font-size: 13px;
    color: #A5A5A5;
}
#search-input::placeholder{
    color: #A5A5A5;

}
.pub-slider{
    min-width: 100%;
    margin: 30px 0;
}
.pub-bloc{
    display: inline-block;
    position: relative;
    width: 330px;
    height: 150px;
    background-color: #407BFF;
    border-radius: 30px;
    margin-left: 30px;
}
.left-bloc{
    width: 320px;
    height: 120px;
    position: absolute;
    top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.welcome{
    color: white;
    font-size: 16px;
}
.welcome-text{
    font-size: 13px;
    width: 200px;
    color: white;
}
.reserver{
    width: 100px;
    padding: 10px 10px;
    color: white;
    border-radius: 20px;
    color: #407BFF;
    background-color: white;
    border: none;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.pub-image{
    position: absolute;
    right: 13px;
    bottom: 5px;
}
.specialites{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 30px;
    margin: 30px 0;
}
.head-specialites{
    display: flex;
    justify-content: space-between;
}
.head-specialites span{
    font-size: 16px;
    font-weight: bold;
}
.head-specialites a{
    color: #3C7ECC;
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
}
.all-specialites{
    display: flex;
    justify-content: space-between;
}
.first-row,.second-row{
    display: flex;
    width: 48%;
    justify-content: space-between;
}
.specialite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #1a1a1a;
    text-decoration: none;
    /* border: 1px solid green; */
    width: 20%;
}
.specialite div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.specialite span{
    font-weight: 800;
}
.best-meds-slider{
    min-width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin: 30px 0;
}
.added-to-cart{
    display: inline-flex;
    margin-left: 30px;
}
hr{
    border: 1px solid #E5E5E5;
}
.spec-ville{
    display: flex;
    color: #747373;
    gap: 10px;
}
#Généraliste{
    background-color: rgba(30, 98, 200,.08);
}
#Dentiste{
    background-color: rgba(200, 30, 30,.08);
}
#Ophtalmologue{
    background-color: rgba(20, 188, 211,.08);
}
#Nutritioniste{
    background-color: rgba(20, 211, 39,.08);
}
#Neurologue{
    background-color: rgba(236, 133, 12,.08);
}
#Pédiatrie{
    background-color: rgba(126, 77, 174,.08);
}
#Radiologue{
    background-color: rgba(99, 24, 0,.08);
}
#Cardiologue{
    background-color: rgba(195, 176, 0,.08);
}
/*Premier breackpoint : Largeur : 1250pixels*/
@media screen and (max-width: 1250px) {
    nav{
        width: 20%;
    }
    main{
        margin-left: 20%;
        width: 80%;
    }
}
@media screen and (max-width: 1150px) {
    .all-specialites{
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
    }   
    .first-row,.second-row{
        width: 100%;
    }
}
/*Deuxieme breackpoint : Largeur : 1060pixels*/
@media screen and (max-width: 1060px) {
    nav{
        width: 25%;
    }
    main{
        margin-left: 25%;
        width: 75%;
    }
}

/*Troisième breackpoint : Largeur : 848pixels*/
@media screen and (max-width: 848px) {
    nav{
        width: 30%;
    }
    main{
        margin-left: 30%;
        width: 70%;
    }
}

/*Quatrième breackpoint : Largeur : 710pixels*/
@media screen and (max-width: 710px) {
    nav{
        width: 35%;
    }
    main{
        margin-left: 35%;
        width: 65%;
    }
    .element img{
        width: 20px;
    }
    .element span{
        font-size: 15px;
    }
}
@media screen and (max-width: 690px) {
    .specialite span{
        font-size: 13px;
    }   
}
/*Cinquième breackpoint : Largeur : 500pixels*/
@media screen and (max-width: 565px) {
    nav{
        width: 75%;
        left: -75%;
        transition: left 0.5s ease;
    }
    #navbar.active{
        left: 0;
    }
    main{
        margin-left: 0;
        width: 100%;
        height: 100vh;
    }
    #menu-button{
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    h1{
        font-size: 20px;
    }
    #menu-img.active{
        display: none;
    }
}