*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #F9F9F9;
}
/*Cas de base : Largeur maximale*/
nav{
    width: 17%;
    height: 100vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3C7ECC;
    z-index: 10;
}
#logo-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logo-container {
    display: flex;
    justify-content: center;
}
.logo-container img{
    width: 150px;
}
#nav-elements{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
}
#nav-elements a{
    text-decoration: none;
}
.element{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
}
.element span{
    font-size: 16px;
}
.element.active_page{
    background-color: white;
    color: #3C7ECC;
}
#logout-container{
    padding: 0 20px;
    margin-bottom: 20px;
}
#logout-container a{
    text-decoration: none;
}

main{
    margin-left: 17%;
    width: 83%;
    padding: 25px 30px;
    position: relative;
    background-color: #F9F9F9;
    transition: all .5s ease;
}
#menu-button{
    display: none;
}
.medecins-disponibles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
}
.medecin-disponible{
    flex-basis: 47%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}
.medecin-header{
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 20px;
}
.medecin-photo{
    width: 78px;
    height: 78px;
    border-radius: 15px;
    object-fit: cover;
}
.medecin-info{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}
.name-like{
    display: flex;
    justify-content: space-between;
}
.name-like span{
    font-weight: 800;
}
.spec-ville{
    color: #747373;
}
.sep{
    margin-top: 5px;
}
.date-rows{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
}
.date-row{
    display: flex;
    justify-content: space-between;
}
.date-row a{
    color: #3C7ECC;
    text-decoration: none;
    font-weight: 800;
    border: 4px solid #3C7ECC;
    padding: 3px 8px;
    border-radius: 30px;
}
.consulter{
    margin-top: 15px;
    background-color: #3C7ECC;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    border-radius: 0 0 15px 15px;
}
.like-medecin{
    cursor: pointer;
}
/*Premier breackpoint : Largeur : 1250pixels*/
@media screen and (max-width: 1250px) {
    nav{
        width: 20%;
    }
    main{
        margin-left: 20%;
        width: 80%;
    }
}
@media screen and (max-width: 1120px) {
    .medecins-disponibles{
        gap: 40px;
    }   
}
@media screen and (max-width: 1063px) {
    .medecins-disponibles{
        gap: 0;
    }   
    .medecin-disponible{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}
/*Deuxieme breackpoint : Largeur : 1060pixels*/
@media screen and (max-width: 1060px) {
    nav{
        width: 25%;
    }
    main{
        margin-left: 25%;
        width: 75%;
    }
}


/*Troisième breackpoint : Largeur : 848pixels*/
@media screen and (max-width: 848px) {
    nav{
        width: 30%;
    }
    main{
        margin-left: 30%;
        width: 70%;
    }
}

/*Quatrième breackpoint : Largeur : 710pixels*/
@media screen and (max-width: 710px) {
    nav{
        width: 35%;
    }
    main{
        margin-left: 35%;
        width: 65%;
    }
    .element img{
        width: 20px;
    }
    .element span{
        font-size: 15px;
    }
    h1{
        font-size: 24px;
    }
}
@media screen and (max-width: 680px) {
    .date-row a{
        padding: 2px 5px;
        font-size: 14px;
    }
}

    
/*Cinquième breackpoint : Largeur : 500pixels*/
@media screen and (max-width: 565px) {
    nav{
        width: 75%;
        left: -75%;
        transition: left 0.5s ease;
    }
    #navbar.active{
        left: 0;
    }
    main{
        margin-left: 0;
        width: 100%;
        height: 100vh;
    }
    #menu-button{
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    #menu-img.active{
        display: none;
    }
}