*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #F9F9F9;
}
.logo-text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
}

.logo-text img{
    width: 250px;
}
.logo-text span{
    font-size: 40px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.select-container,.email-container,.password-container,.checkbox-container,.button-container{
    width: 50%;
    margin: 0 auto;
    position: relative;
}
.select-container #type_compte{
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid #3C7ECC;
    border-radius: 8px;
    padding: 0 15px;
    color: rgba(137, 137, 137,47%);
    outline: none;
}
.email-container img{
    position: absolute;
    left: 25px;
    top: 15px;
}
.email-container #email{
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid #3C7ECC;
    border-radius: 8px;
    padding-left: 60px;
    color: rgba(137, 137, 137,47%);
    outline: none;
}
.email-container #email::placeholder{
    color: rgba(137, 137, 137,47%);
}
.password-container img{
    position: absolute;
}
.password-container #lock{
    left: 25px;
    top: 10px;
}
.password-container #status{
    right: 25px;
    top: 15px;
}
.password-container #password::placeholder{
    color: rgba(137, 137, 137,47%);
}
.password-container #password{
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid #3C7ECC;
    border-radius: 8px;
    padding-left: 60px;
    color: rgba(137, 137, 137,47%);
    outline: none;
}
.button-container #submit{
    width: 100%;
    background-color: #3C7ECC;
    height: 50px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.already_logged{
    text-align: center;
}
/*Add media queries */


@media screen and (max-width: 670px) {
    .select-container,.email-container,.password-container,.checkbox-container,.button-container{
        width: 60%;
    }
}

@media screen and (max-width: 530px) {
    .select-container,.email-container,.password-container,.checkbox-container,.button-container{
        width: 70%;
    }
}
@media screen and (max-width: 530px) {
    .select-container,.email-container,.password-container,.checkbox-container,.button-container{
        width: 90%;
    }
    .logo-text span{
        font-size: 32px;
    }
}